

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html{
    scroll-behavior: smooth;
   }

:target{
    scroll-behavior: smooth;
}

html,
body{
    height: 100vh;
    text-rendering: optimizeLegibility;
}

.container-fluid{
    padding: 0;
    
}

.tituloestilizado {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;

}

.navbar-light {
    background-color: #212529;
}

.navbar{
    background-color: #212529af;
}

.carousel-inner,.carousel-item{
    height: 90vh;

}
.tbone{
    top: 35%;
    height: 400px;
}

.tbone h2{
    font-size: 3rem;
    height: auto;
}
.tbone p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: white;
    
}

.main-btn{
    background-color: #65DAF9;
    color: white;
    text-transform: uppercase;
    width: 130px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: #65DAF9;

}

.col-lg-4{
    text-align: center;
    margin-top: 65px;
    font-family: 'Source Sans Pro', sans-serif;
}

.col-lg-4 h2{
    font-size: 32px;
}

.col-lg-4 a{
    font-size: 22px;
    font-weight: 200;
}

.col-lg-4 p{
    font-size: 20px;
    font-weight: 200;
}

.carousel-indicators .active{
    background-color: #65DAF9;
}

.black{
    background: #000;
    
}

.overlay-image{

    opacity: 0.5 ;
    background-position: center;
    background-size: cover;
   
}


.col-md-7 h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: left;
    margin-top: 160px;
    letter-spacing: .05em;
    
}



.col-md-7,.text-muted{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    text-align: left;
    
}

.col-md-7 p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    text-align: left;
}


hr{
    margin-top: 80px;
    margin-bottom: 80px;
}

footer{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    margin-bottom: 100px;
}

.porcentagem{

    margin-top: 13px;
    margin-bottom: 13px;
}

.center{
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
}

.center2{
    font-family: 'Source Sans Pro', sans-serif;
}

#plus{
    margin-top: 50px;
}


#ajustagem{
    margin-top: -100px;
}

.colorcng{
    background-color: #21252927;
  }
  
#ajustes{
    margin-top: 150px;
}

.alongar{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
}

.espaco{
    margin-bottom: 70px;
}

.downlink{
    margin-left: 1100px;
    font-size: 20px;
}

#altura{
    margin-top: -7px;
}

.hover{
    text-decoration: none;
}

.hover:hover{
    text-decoration: unset;
    text-decoration-line: underline;
}

.col-sm{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: auto;
    max-width: 800px;
    max-height: 1000px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 13px #21252941;
}

.col-sm2{
    background-color: #ffffff;
    margin: auto;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 3px 3px 13px #21252941;
    margin-top: 20px;
}


.cabecalho{
    background-color: #212529;
    width: 100%;
    min-width: 100px;
    height: 100%;
    margin: auto;
    min-height: 60px;
    max-width: 800px;
    margin-top: 140px;
    color: white;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    box-shadow: 3px 3px 13px #2125293f;
}

.cabecalho h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3em;
}

.card-body{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

