
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');


* {
    
    margin: 0;
    padding: 0;
    
}

html,
body{
    scroll-behavior: smooth;
    height: 100vh;
    text-rendering: optimizeLegibility;
}



.white{
    color: white;
    text-decoration: none;
    transition: .3s;
}

.white:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: 'Otomanopee One', sans-serif;
    transition: 0.3s;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: #212529;
    height: 8vh;
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    margin-top: 20px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){

    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: #212529ad;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index:1
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        font-size: 15px;
    }
    .mobile-menu{
        display: block;
    }
}



.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px); 
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px); 
}










.tbone{
    top: 7%;
    height: 100%;
    
    z-index: 0;
}

.tbone h2{
    height: 100%;
    margin-top: 15%;
    font-size: 3rem;
    height: auto;
}
.tbone p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: white;
    
}

.main-btn{
    background-color: #65DAF9;
    color: white;
    text-transform: uppercase;
    width: 130px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: #65DAF9;

}

.col-lg-4{
    text-align: center;
    margin-top: 5%;
    font-family: 'Source Sans Pro', sans-serif;
}

.col-lg-4 h2{
    font-size: 32px;
}

.col-lg-4 a{
    font-size: 22px;
    font-weight: 200;
}

.col-lg-4 p{
    font-size: 20px;
    font-weight: 200;
}


.black{

    height: 100%;
}


.overlay-image{
    
    opacity: 0.5;
    
    
    
   
}

.col-md-7{
    margin-top: -100px;
}


.col-md-7 h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: left;
    margin-top: 160px;
    letter-spacing: .05em;
    
}



.col-md-7,.text-muted{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    text-align: left;
    
}

.col-md-7 p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    text-align: left;
}


hr{
    margin-top: 80px;
    margin-bottom: 80px;
}

footer{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    margin-bottom: 100px;
}


.center{
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
}

.center2{
    font-family: 'Source Sans Pro', sans-serif;
}

#plus{
    margin-top: 50px;
}


#ajustagem{
    margin-top: -100px;
}

.colorcng{
    background-color: #21252927;
  }
  
#ajustes{
    margin-top: 150px;
}



.espaco{
    margin-bottom: 70px;
}

.downlink{
    margin-left: 1100px;
    font-size: 20px;
}

#altura{
    margin-top: -7px;
}














